/*------------------------------------------------------------------
Theme Name: UNISCO - Responsive Bootstrap Landing Page
Version: 1.0
Author:
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]

    1. GLOBAL STYLES
    2. HEADER
    3. ABOUT
    4. OUR COURSES
    5. EVENTS
    6. DETAILED CHART
    7. OUR BLOG
    8. GALLERY


    10. ABOUT HEADER
    11. ABOUT WELCOME
    12. ABOUT TESTIMONIAL
    13. ABOUT OUR TEACHERS

    14. ADMISSION COURCES
    15. ADMISSION DETAILS COURCES

    16. ADMISSION FORM RULES

    17. CAMPUS

    18. RESEARCH

    19. BLOG
    20. EVENTS
    21. SHORTCODES
    22. CONTACT US

    -------------------------------------------------------------------*/
/* ==========================================================================
   Font
   ========================================================================== */
/* ==========================================================================
   Color
   ========================================================================== */
/* ==============================================================
   NAV
   ============================================================== */
.nav-menu {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
}

.nav-logo {
  margin: 0 !important;
}

.responsive-logo {
  display: none;
}

.icon-menu {
  color: #cbb58b;
}

.btn-default {
  text-transform: uppercase;
  color: #cbb58b;
  background: none;
  border: 3px solid #cbb58b;
  font-size: 18px;
  padding: 16px 36px;
  border-radius: 0;
}

@media (min-width: 767px) {
  .btn+.btn {
    margin-left: 22px;
  }
}

.btn-default:hover {
  color: #fff;
  background: #cbb58b;
  border: 3px solid #cbb58b;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background: #cbb58b;
}

.dropdown-menu {
  min-width: 14rem;
  border-radius: 0;
  border: none;
}

.dropdown-item {
  color: #2d2d2d;
  padding: 5px 1.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #cbb58b;
}

.dropdown-menu1 {
  left: -225px;
  top: -6px !important;
}

.dropdown-item:hover {
  color: #cbb58b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-item.active:hover,
.dropdown-item.active:focus,
.dropdown-item.active:active,
.dropdown-item:active {
  color: #FFF;
}

.nav-toggle_icon {
  color: #cbb58b;
}

.navbar2 {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  margin: 0;
}

.nav-brand2 h2 {
  margin: 0;
}

.navbar-nav>li {
  margin: 85px 10px;
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
  font-size: 19px;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: none;
  color: #cbb58b;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #cbb58b;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none;
  color: #cbb58b;
}

.bg-faded {
  background: none;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e0c898;
  shadow: 1px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
  color: #cbb58b;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 19px;
}

.navbar-light .navbar-toggler {
  border: 1px solid #cbb58b;
  z-index: 999;
  cursor: pointer;
  outline: none;
  padding: 7px 14px;
}

.navbar-light2 .navbar-nav .nav-link:focus,
.navbar-light2 .navbar-nav .nav-link:hover {
  color: #e0c898;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navbar-light2 .navbar-nav .active>.nav-link,
.navbar-light2 .navbar-nav .nav-link.active,
.navbar-light2 .navbar-nav .nav-link.open,
.navbar-light2 .navbar-nav .open>.nav-link {
  color: #cbb58b;
}

.navbar-light2 .navbar-nav .nav-link {
  color: #fff;
  font-size: 19px;
}

.navbar-light2 .navbar-toggler {
  border: 1px solid #cbb58b;
  z-index: 999;
  cursor: pointer;
  outline: none;
  padding: 7px 14px;
}

.fa-common {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .navbar-nav>li {
    margin: 74px 10px 74px 10px;
  }
}

@media (max-width: 991px) {
  .navbar-nav>li {
    margin: 0px 10px 0px 10px;
  }

  .responsive-logo {
    display: block;
  }

  .navbar-brand {
    display: none;
  }

  .nav-brand2 {
    display: block;
  }

  .navbar2 {
    margin: 12px 0 !important;
  }

  .bg-faded {
    background-color: #fafafa;
  }

  .navbar {
    padding: 0;
    margin: -113px 0 0 0;
  }

  .navbar-nav {
    padding: 10px 10px 10px 10px;
  }

  .navbar-light .navbar-toggler {
    margin: 28px 6px;
  }

  .navbar-light .navbar-toggler2 {
    margin: 0 !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #2d2d2d;
  }

  .dropdown .dropdown-menu {
    background-color: #fff;
    border: 1px solid #cbb58b;
  }

  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    text-align: center;
  }
}

@media (min-width: 991px) {
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
  }

  .dropdown:hover>.dropdown-menu {
    visibility: visible;
    opacity: 1;
    border: 1px solid #ccc;
    top: 45px;
  }

  .dropdown-submenu:hover .dropdown-menu1 {
    visibility: visible;
    opacity: 1;
  }

  .navbar-toggleable-md .navbar-collapse {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navbar-toggleable-md .navbar-nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Lora", serif;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

a {
  color: #cbb58b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: #2d2d2d;
}

.btn {
  font-family: "Lora", serif;
  cursor: pointer;
}

/* ==============================================================
   HEADER
   ============================================================== */
.slider_img {
  width: 100%;
  background: #000;
}

.slider_img img {
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

@media (max-width: 500px) {
  .slider_img img {
    max-height: 730px;
  }
}

.carousel-caption {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

@media (min-width: 992px) {
  .carousel-caption {
    -webkit-transform: translateY(-57%);
    -ms-transform: translateY(-57%);
    transform: translateY(-57%);
    top: 57%;
  }

  .layout_two .carousel-caption {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
  }
}

@media (max-width: 500px) {
  .carousel-caption {
    top: 45%;
  }
}

.slider_title h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 700;
}

@media (max-width: 576px) {
  .slider_title h1 {
    margin-bottom: 18px;
  }
}

.slider_title h4 {
  color: #fff;
  text-align: center;
  line-height: 1.8;
}

.slider-btn {
  text-align: center;
  margin: 42px 0 0;
}

.carousel-indicators .active {
  background: #cbb58b;
}

.fa-slider {
  padding: 14px 14px;
  border: 2px solid #fff;
  font-size: 29px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .slider_title h1 {
    font-size: 42px;
  }

  .slider_title h4 {
    font-size: 19px;
    line-height: 1.5;
  }

  .btn-default {
    width: 50%;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .slider_title {
    margin: 0 0 80px;
  }

  .slider_title h1 {
    font-size: 32px;
  }

  .slider_title h4 {
    font-size: 18px;
    line-height: 1.5;
  }

  .btn-default {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .fa-slider {
    border: none;
    padding: 0;
  }
}

/* ==============================================================
   ABOUT
   ============================================================== */
.about {
  padding: 97px 0 56px;
  background: #fff;
}

.about h2 {
  text-align: center;
  color: #2d2d2d;
  font-weight: 700;
}

.about p {
  text-align: center;
  color: #2d2d2d;
  line-height: 1.8;
  margin: 20px 0;
}

.about img {
  margin: 0 auto;
  display: block;
}


@-webkit-keyframes SlideIn {
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SlideIn {
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SlideWidth {
  100% {
    width: 550px;
  }
}

@keyframes SlideWidth {
  100% {
    width: 550px;
  }
}

.courses_box:hover .courses_box-img {
  opacity: 1;
}

.courses_box:hover .courses_icon {
  -webkit-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  transform: rotate(44deg);
}

.courses_box:hover .course-link:first-child {
  -webkit-animation: SlideIn 0.5s;
  animation: SlideIn 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.courses_box:hover .course-link:first-child span:after {
  -webkit-animation: SlideWidth 0.8s;
  animation: SlideWidth 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.courses_box:hover .course-link:nth-child(2) {
  -webkit-animation: SlideIn 0.5s;
  animation: SlideIn 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.courses_box:hover .course-link:nth-child(2) span:after {
  -webkit-animation: SlideWidth 0.8s;
  animation: SlideWidth 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.course-img-wrap {
  position: relative;
}

.course-box-content {
  display: block;
  padding: 30px 20px;
}

.courses_icon {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  height: 43px;
  right: 0;
  width: 43px;
  background: #665c7c;
  border-radius: 50%;
  padding: 8px 11px 8px 13px;
  margin: -23px 10px 0 0;
  float: right;
  z-index: 3;
}

.courses_icon a {
  color: #fff;
}

.course-link {
  display: block;
  padding-bottom: 6px;
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
  margin-left: 30px;
}

.course-link span {
  position: relative;
  display: inline-block;
}

.course-link span:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  width: 0;
  right: 0;
  height: 1px;
  background: #FFF;
  left: 100%;
  margin-left: 0;
}

.courses-link-wrap {
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 100%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.courses_box-img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  background: rgba(203, 181, 139, 0.82);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 30px;
  z-index: 2;
}

.courses_box-img a :hover {
  opacity: 0.8;
}

.courses_box-img a span {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 10px;
}

.btn-courses {
  font-size: 15px;
  font-weight: 700;
}

.rotate {
  -moz-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  -webkit-transform: rotate(43deg);
  transform: rotate(43deg);
}

.icon-rotate {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block;
}

/* ==============================================================
   EVENTS
   ============================================================== */
.event {
  padding: 97px 0;
  background: #fff;
}

.event h2 {
  font-weight: 600;
  margin: 0 0 28px;
}

.event-img {
  position: relative;
  -webkit-box-shadow: 0px 25px 90px 3px #c7c5c7;
  -moz-box-shadow: 0px 25px 90px 3px #c7c5c7;
  box-shadow: 0px 25px 90px 3px #c7c5c7;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .event-img {
    margin-bottom: 50px;
  }
}

.event-img img {
  width: 100%;
  border-radius: 5px;
}

.event-img_date {
  position: absolute;
  top: 28px;
  left: 48px;
  background: #cbb58b;
  border-radius: 2px;
  padding: 8px 12px;
  color: #fff;
  font-size: 13px;
}

@media (max-width: 575px) {
  .event-img_date {
    display: none;
  }
}

.event-img_title {
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
  padding: 85px 0 20px 0;
  border-radius: 5px;
}

.event-img_title h3 {
  color: #fff;
  padding-left: 48px;
  position: relative;
}

@media (max-width: 575px) {
  .event-img_title h3 {
    padding-left: 20px;
  }
}

.event-img_title p {
  color: #e3e3e3;
  font-size: 17px;
  padding: 16px 48px 0 48px;
}

@media (max-width: 575px) {
  .event-img_title p {
    padding: 15px 20px;
  }
}

@media (max-width: 575px) {
  .event-img_title {
    padding: 0;
  }
}

.event-img_title h3:after {
  height: 2px;
  width: 21px;
  background: #fff;
  content: "";
  position: absolute;
  left: 48px;
  top: 115%;
}

@media (max-width: 575px) {
  .event-img_title h3:after {
    left: 20px;
  }
}

.event_date {
  width: 82px;
  background: #242649;
  float: left;
  text-align: center;
  border-radius: 5px;
}

.event_date img {
  float: left;
}

.event-date-wrap {
  margin: 4px;
  padding: 2px 0;
}

.event-date-wrap p {
  font-size: 23px;
  font-weight: 800;
  color: #fff;
  margin: 0;
}

.event-date-wrap span {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
}

.date-description {
  margin-left: 115px;
}

.date-description h3 {
  margin-top: 0;
  font-weight: 600;
  position: relative;
}

.btn-read {
  padding: 10px 20px !important;
  font-size: 14px;
}

.event_line {
  margin: 15px 0;
}

/* ==============================================================
   DETAILED CHART
   ============================================================== */
.detailed_chart {

  -webkit-background-size: cover;
  background-size: cover;
  padding: 85px 0;
}

.chart-img img {
  margin: 21px;
  padding-right: 10px;
  float: left;
}

.chart-img p {
  display: inline-block;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
}

.chart-img p span {
  font-size: 24px;
  display: block;
  font-weight: 100;
}

.chart-text {
  margin: 11px 0 0;
  display: inline-block;
}

.chart-text p {
  color: #fff;
  font-size: 23px;
}

.chart-text p span {
  font-size: 40px;
  display: block;
  line-height: 1.3;
}

@media (max-width: 1200px) {
  .chart-img img {
    margin: 10px 0 0;
  }

  .chart-img p {
    font-size: 36px;
  }

  .chart-img p span {
    font-size: 17px;
  }

  .chart-text {
    margin: 0;
  }

  .chart-text p {
    font-size: 17px;
  }

  .chart-text p span {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .chart-img {
    display: block;
  }

  .chart-img img {
    float: none;
    margin: 0 auto 15px;
    padding: 0;
    display: block;
  }

  .chart-text {
    text-align: center;
    display: block;
    margin: 0px 0 0;
  }
}

@media (max-width: 768px) {
  .chart_bottom {
    margin: 0 0 26px;
  }

  .chart_top {
    margin: 0 0 26px 0;
  }
}

/* ==============================================================
   OUR BLOG
   ============================================================== */
.blog {
  background: #f2f2f2;
  padding: 97px 0;
}

.blog h2 {
  text-align: center;
  font-weight: 700;
  margin: 0 0 28px;
}

.blog-img_box {
  background: #fff;
  -webkit-box-shadow: 0px 9px 20px -2px rgba(214, 214, 214, 0.3);
  box-shadow: 0px 9px 20px -2px rgba(214, 214, 214, 0.3);
  position: relative;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-img_box:hover {
  -webkit-box-shadow: 0px 15px 30px -2px rgba(214, 214, 214, 0.8);
  box-shadow: 0px 15px 30px -2px rgba(214, 214, 214, 0.8);
}

.blog_display {
  width: 100%;
}

.home_blog_link {
  display: block;
  color: #292b2c;
}

.blogtitle {
  padding: 24px 30px 10px 30px;
}

.blogtitle h3 {
  font-weight: 700;
}

.blogtitle p {
  color: #cbb58b;
  display: inline-block;
  padding: 0 6px 0 6px;
}

.blogtitle-rtl {
  padding: 12px 12px;
}

.blogtitle-rtl p {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .blogtitle-rtl p {
    margin: 0;
  }
}

.blog_hide {
  background: #665c7c;
  color: #d5d0df;
  padding: 55px 45px 26px;
  -webkit-box-shadow: 0px 9px 16px -2px #d9d9d9;
  -moz-box-shadow: 0px 9px 16px -2px #d9d9d9;
  box-shadow: 0px 9px 16px -2px #d9d9d9;
}

.icon-link {
  color: #fff;
  font-size: 34px;
  display: block;
  padding: 0 0 22px;
}

.blogtitle-link {
  padding: 65px 0 0;
}

.blogtitle-link p {
  display: inline-block;
  padding: 0 6px 0 6px;
  color: #c5bfd0;
  margin: 0;
}

.blogtitle-link .icon-user,
.blogtitle-link .icon-speedometer {
  color: #fff;
}

.blog-video {
  position: relative;
}

.blog-play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 1200px) {
  .blogtitle {
    padding: 16px 0 0 18px;
  }

  .blogtitle h3 {
    font-size: 20px;
  }

  .blog_hide {
    padding: 28px 20px 27px;
  }

  .blogtitle-link {
    padding: 37px 0 0;
  }

  .blogtitle-rtl {
    padding: 8px;
  }
}

@media (max-width: 992px) {
  .blogtitle {
    padding: 13px 0 0 8px;
  }

  .blogtitle h3 {
    font-size: 16px;
  }

  .blogtitle p {
    font-size: 14px;
    padding: 0;
  }

  .blog_hide {
    padding: 15px 7px 12px;
  }

  .blog_hide a {
    font-size: 13px;
  }

  .blogtitle-link {
    padding: 18px 0 0;
  }

  .blogtitle-link p {
    font-size: 14px;
    padding: 0;
  }

  .blogtitle-link span {
    font-size: 14px;
  }

  .icon-link {
    padding: 0 0 17px;
    font-size: 27px;
  }
}

@media (max-width: 768px) {
  .blog-box_block {
    margin-bottom: 0;
  }

  .blog-img_box {
    margin: 0 0 20px;
  }

  .blogtitle {
    padding: 16px 0 0 16px;
  }

  .blogtitle h3 {
    font-size: 20px;
  }

  .blogtitle p {
    font-size: 14px;
    padding: 0 6px 0 6px;
  }

  .blog_hide {
    padding: 16px 16px;
    margin: 0 0 20px;
  }

  .blog_hide a {
    font-size: 18px;
  }

  .blogtitle-link p {
    font-size: 14px;
    padding: 0 6px 0 6px;
  }

  .blogtitle-link span {
    font-size: 14px;
    padding: 0 6px 0 6px;
  }
}

@media (max-width: 480px) {
  .blogtitle h3 {
    font-size: 17px;
  }
}

/* ==============================================================
   GALLERY
   ============================================================== */
.gallery-wrap {
  padding: 98px 0;
}

.gallery-wrap img {
  margin: 0;
  width: 100%;
}

.gallery-wrap {
  margin: 0;
}

.instafeed_img {
  overflow: hidden;
  position: relative;
}

.instafeed_img a {
  display: block;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.instafeed_img a:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.instafeed_img a .instagram_img_holder {
  width: 100%;
  height: 265px;
  -webkit-background-size: cover;
  background-size: cover;
}

.instafeed_img .instafeed_img_overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(203, 181, 139, 0.85);
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.instafeed_img .instafeed_img_overlay:after {
  content: "";
  position: absolute;
  border: 1px solid #FFF;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
}

.instafeed_img:hover .instafeed_img_overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.instafeed_img .instafeed_img_overlay span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
}

@media (max-width: 767px) {
  .instafeed_img .instafeed_img_overlay span {
    font-size: 12px;
  }
}



/*
 * ABOUT PAGE
 ********************************/
/* ==============================================================
   ABOUT HEADER
   ============================================================== */
.about-nav {
  position: relative;
  background: #ccc;
}

.about_bg {
  background: url(../images/about-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.about_bg h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 37px 0 90px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .about_bg h1 {
    font-size: 42px;
  }
}

/* ==============================================================
   ABOUT WELCOME
   ============================================================== */
.welcome_about {
  padding: 98px 0;
}

.welcome_about h2 {
  font-weight: 600;
  color: #2d2d2d;
  margin: 0 0 28px;
}

.welcome_about p {
  color: #2d2d2d;
  line-height: 1.8;
}

.welcome_about img {
  width: 100%;
}

.btn-about {
  background: none;
  border: 3px solid #cbb58b;
  border-radius: 2px;
  padding: 14px 20px;
  color: #cbb58b;
  font-size: 15px;
  margin: 16px 0 0;
}

@media (max-width: 992px) {
  .welcome_about {
    padding: 58px 0;
  }

  .btn-about {
    margin: 0px 0 32px;
  }
}

/* ==============================================================
   ABOUT TESTIMONIAL
   ============================================================== */
.testimonial {
  background: #f2f2f2;
  padding: 98px 0;
}

.testimonial h2 {
  text-align: center;
  font-weight: 600;
  color: #2d2d2d;
  margin: 0 0 28px;
}

.quote {
  text-align: center;
  font-size: 24px;
  outline: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.quote i {
  border: 2px solid #cbb58b;
  padding: 20px;
  border-radius: 50%;
  color: #cbb58b;
}

.quote .quote_text {
  text-align: center;
  margin: 31px auto;
  line-height: 2;
  position: relative;
  max-width: 710px;
}

@media (min-width: 992px) {

  .quote .quote_text:before,
  .quote .quote_text:after {
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #cbb58b;
  }

  .quote .quote_text:before {
    content: "\f10d";
    top: 0;
    left: -40px;
  }

  .quote .quote_text:after {
    content: "\f10e";
    top: 0;
    right: -40px;
  }
}

.testi-img_block {
  max-width: 500px;
  margin: 0 auto 30px;
}

.testi-img_block img {
  margin: 0;
  display: inline-block;
  border-radius: 50%;
  max-width: 60px;
  margin-top: -18px;
}

.testi-img_block p {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0;
  padding-left: 10px;
}

.testi-img_block p span {
  color: #cbb58b;
  font-size: 16px;
  display: block;
}

@media (max-width: 768px) {
  .testi-img_block p {
    display: block;
    position: inherit;
    padding: 8px 0px;
    margin: 0;
  }
}

/* ==============================================================
   ABOUT OUR TEACHERS
   ============================================================== */
.our-teachers {
  padding: 98px 0;
}

.our-teachers h2 {
  text-align: center;
  font-weight: 600;
  margin: 0 0 28px;
}

.our-teachers-block {
  background: #fff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 5px 34px 8px #ececec;
  -moz-box-shadow: 0px 5px 34px 8px #ececec;
  box-shadow: 0px 5px 34px 8px #ececec;
  position: relative;
  min-height: 205px;
  margin-bottom: 30px;
}

.our-teachers-block .teachers-img {
  width: 45%;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .our-teachers-block .teachers-img {
    width: 35%;
  }
}

.our-teachers-block .teachers-description {
  margin-left: 45%;
  padding: 20px 85px 15px 20px;
}

@media (max-width: 1200px) {
  .our-teachers-block .teachers-description {
    margin-left: 35%;
  }
}

.our-teachers-block .teachers-description p {
  margin: 0;
}

.our-teachers-block .teachers-description p span {
  color: #cbb58b;
  font-weight: 100;
  font-size: 18px;
}

.social-icons {
  position: absolute;
  right: 0;
  top: 0;
  background: #FFF;
  bottom: 0;
  width: 50px;
  border-left: 1px solid #ececec;
}

.social-icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: table;
  height: 100%;
}

.social-icons ul li {
  list-style: none;
  margin: 0 0 10px;
  display: table-row;
  min-height: 1px;
  text-align: center;
}

.social-icons ul li a {
  color: #787878;
  font-size: 20px;
  padding: 5px 15px;
  border-bottom: 1px solid #ececec;
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.social-icons ul li a i {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-icons ul li a:hover i {
  color: #cbb58b;
}

.social-icons ul li:last-child a {
  border-bottom: 0;
}

@media (max-width: 992px) {
  .our-teachers-block .teachers-img {
    display: block;
    float: none;
    width: 100%;
    position: static;
  }

  .our-teachers-block .teachers-description {
    margin-left: 0;
    padding: 20px 20px 70px;
  }

  .our-teachers-block .social-icons {
    top: inherit;
    left: 0;
    width: 100%;
    border-top: 1px solid #ececec;
    border-left: 0;
    height: 50px;
  }

  .our-teachers-block .social-icons ul {
    width: 100%;
  }

  .our-teachers-block .social-icons li {
    display: table-cell;
    margin: 0;
  }

  .our-teachers-block .social-icons li a {
    display: inherit;
    border-bottom: 0;
    border-right: 1px solid #ececec;
    height: 50px;
  }
}

/*
 * ADMISSION PAGE
 ********************************/
/* ==============================================================
   ADMISSION COURCES
   ============================================================== */
.admission_cources {
  padding: 70px 0;
}

.admission_cources h2 {
  font-weight: 700;
}

.admission_cources p {
  line-height: 1.8;
  padding: 0;
}

.course_filter {
  padding: 33px 30px;
  background: #cbb58b;
  border-radius: 2px;
}

.course_filter .form-control {
  border: 0;
}

select.form-control.custom-select {
  height: 3rem !important;
  margin-right: 13px;
}

.btn-admission {
  padding: 13px 54px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background: #d8c299;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35);
  -moz-box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35);
  box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.35);
}

.btn-admission:hover {
  background: #e0c795;
  color: #fff;
}

.course_box {
  border: 1px solid #ececec;
  display: block;
  color: #2d2d2d;
  position: relative;
  min-height: 260px;
  margin-bottom: 30px;
}

.course_box img {
  width: 45%;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.course_box h4 {
  font-weight: 600;
}

.course_box p {
  font-size: 15px;
  padding-top: 15px;
  margin-bottom: 0;
}

.course_box:hover,
.course_box:focus,
.course_box:active {
  color: #2d2d2d;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.couse-desc-wrap {
  margin-left: 45%;
  padding: 20px 25px;
}

.course_duration {
  margin-left: 45%;
}

.star-rating .fa-star {
  color: #ffb914;
}

.course_duration {
  border-top: 1px solid #eaeaea;
  background: #f6f6f6;
}

.course_duration ul {
  padding: 0;
  margin: 0;
}

.course_duration ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  padding: 9px 0 9px;
}

.course_duration ul li p {
  padding: 0;
  margin: 0;
  color: #cbb58b;
}

.course_duration ul li span {
  font-weight: 700;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .course_box p {
    font-size: 14px;
  }

  .course_duration ul li p {
    font-size: 13px;
  }

  .course_duration ul li span {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .course_box img {
    position: static;
    width: 100%;
  }

  .couse-desc-wrap {
    margin-left: 0;
  }

  .course_duration {
    margin-left: 0;
  }
}

/* ==============================================================
   ADMISSION DETAILS COURSES
   ============================================================== */
.admission_discription {
  padding: 50px 0;
}

.admission_discription h4 {
  font-weight: 700;
}

.admission_discription p {
  text-align: left;
  margin-top: 12px;
}

.admission_discription ul {
  padding: 0;
  margin: 0;
}

.admission_discription li {
  background: url(../images/discription-icon.png) no-repeat 5px 3px;
  list-style: none;
  padding: 0 0 12px 36px;
  font-size: 16px;
}

.admission-pdf {
  background: #f6f6f6;
  border: 1px solid #ebebeb;
  padding: 18px 22px 18px 22px;
  position: relative;
  width: 86%;
}

.admission-pdf p {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0 15px 0 15px;
  font-weight: 700;
  font-size: 14px;
}

.admission-pdf p span {
  text-decoration: underline;
}

.admission-pdf p span a {
  color: #cbb58b;
}

.pdf_btn {
  position: relative;
}

.btn-pdf_join {
  position: absolute;
  right: -60px;
  top: 15px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.admission_testimonial {
  padding-top: 70px;
}

.admission_testimonial h4 {
  font-weight: 700;
  margin: 0 0 28px;
}

.admission_testimonial .admissiontesti-img_block {
  display: inline-block;
}

.admission_testimonial .admissiontesti-img_block img {
  border-radius: 50%;
}

.admission_testimonial .admissiontesti-text_block {
  float: right;
  width: 84%;
}

.admission_testimonial .admissiontesti-text_block p {
  line-height: 1.8;
  text-align: left;
}

.admission_testimonial .admissiontesti-text_block h6 {
  line-height: 1.5;
}

.admission_testimonial .admissiontesti-text_block h6 span {
  color: #cbb58b;
}

.admission_rating {
  padding: 6px 16px;
  margin: 70px 0 0;
  background: #cbb58b;
  display: inline-block;
}

.admission_rating li {
  float: left;
  font-size: 15px;
  width: 50%;
  list-style: none;
  padding: 10px 0;
  color: #fff;
  border-bottom: 1px solid #d1c3a7;
}

.admission_rating li span {
  float: right;
}

.admission_rating li:nth-child(11) {
  border: none;
}

.admission_rating li:last-child {
  border: none;
}

.admission_rating .admission_star {
  padding-left: 22px;
  font-size: 15px;
  color: #fff8ea;
  font-weight: 100;
}

.admission_insruction {
  padding: 50px 0 0;
}

.admission_insruction h4 {
  font-weight: 700;
  margin: 0 0 14px;
}

.admission_insruction p {
  font-weight: 700;
  font-size: 15px;
}

.admission_insruction p span {
  color: #cbb58b;
}

.admission_share-icon {
  margin: 50px 0 0;
}

.admission_share-icon h4 {
  font-weight: 700;
}

.admission_share-icon a {
  display: inline-block;
  list-style: none;
  background: #e8e8e8;
  width: 52px;
  height: 52px;
  margin-right: 6px;
  border-radius: 50%;
  padding: 16px 20px;
  color: #2d2d2d;
}

.admission_share-icon a:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .admission-pdf p {
    padding: 0 0 0 12px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .btn-pdf_join {
    right: 20px;
  }

  .admission_rating {
    padding: 6px 8px;
  }

  .admission_rating ul li {
    font-size: 13px;
  }

  .admission_testimonial,
  .admission_insruction,
  .admission_share-icon,
  .admission_testimonial .admissiontesti-text_block p {
    text-align: center;
  }

  .admission_rating {
    font-size: 13px;
  }

  .admission-pdf {
    width: 100%;
  }

  .admission_share-icon ul li {
    width: 44px;
    height: 44px;
    padding: 11px 15px;
  }

  .admissiontesti-text_block {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .admission-pdf {
    padding: 20px;
  }

  .admission-pdf i {
    font-size: 2em;
  }
}

@media (max-width: 575px) {
  .btn-pdf_join {
    position: static;
    margin-top: 20px;
    width: 100%;
  }
}

/*
 * ADMISSION FORM
 ********************************/
/* ==============================================================
   ADMISSION FORM RULES
   ============================================================== */
.admission-form_rules {
  padding: 60px 0;
}

.admission-form_rules h2 {
  font-weight: 700;
  margin: 0 0 28px;
}

.admission-form_rules p {
  line-height: 1.8;
}

.admission-form_listed {
  padding: 66px 0 0;
  margin: 0;
}

.admission-form_listed li {
  list-style: none;
  background: url(../images/right-icon.png) no-repeat;
  font-size: 17px;
  color: #cbb58b;
  padding-left: 30px;
  line-height: 2;
}

@media (max-width: 768px) {
  .admission-form_listed {
    padding: 12px 0 0;
  }
}

.form-control::-webkit-input-placeholder {
  color: #d0d0d0;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #d0d0d0;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #d0d0d0;
  opacity: 1;
}

.form-control::placeholder {
  color: #d0d0d0;
  opacity: 1;
}

.has-danger .custom-select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

.has-danger .custom-select:focus {
  border-color: #d9534f;
}

.admission_form {
  padding: 0 0 98px;
}

.admission_form img {
  margin: 0 auto;
  display: block;
}

.admission_form h2 {
  text-align: center;
  font-weight: 700;
  margin: 0 0 28px;
}

.admission_form label {
  width: 100%;
  margin: 13px 0;
}

.form-control {
  border: 2px solid #ccc;
}

.form-control:not(textarea) {
  height: 50px;
}

.admission-form_dropdown {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 14px 12px;
  outline: none;
}

.admission-form_date {
  width: 32.4%;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 14px 12px;
  outline: none;
}

.admission-form_text {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 12px 12px;
  outline: none;
}

.admission-form_address {
  margin: 18px 0 0;
}

.admission-form_message {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 12px 12px;
  height: 262px;
  outline: none;
}

@media (max-width: 1200px) {
  .admission-form_date {
    width: 100%;
    margin: 18px 0 0;
  }

  .admission-form_respons {
    margin: 0;
  }
}

/*
 * CAMPUS LIFE
 ********************************/
/* ==============================================================
   CAMPUS
   ============================================================== */
.campus {
  padding: 98px 0;
}

.campus h2 {
  font-weight: 700;
  margin: 0 0 28px;
}

.campus p {
  line-height: 1.8;
  margin: 21px 0 58px;
}

.campus-img_block {
  position: relative;
}

.campus-img_block .campus-title-block {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
}

.campus-img_block .campus-title-block h4 {
  color: #fff;
  padding: 60px 30px 17px 30px;
  margin: 0;
}

.campus-img_text {
  padding: 6px 0;
}

.campus-img_text p {
  font-size: 15px;
  color: #686868;
}

@media (max-width: 992px) {
  .campus-img_block h4 {
    top: -36px;
    left: 15px;
    font-size: 18px;
  }

  .campus-img_text {
    padding: 0px 8px;
  }
}

@media (max-width: 768px) {
  .campus-img_block img {
    width: 100%;
  }
}

/*
 * RESEARCH
 ********************************/
/* ==============================================================
   RESEARCH
   ============================================================== */
.research {
  padding: 98px 0;
}

.research h2 {
  font-weight: 700;
  margin: 0 0 28px;
}

.research h3 {
  font-weight: 700;
  margin: 6px 0 28px;
}

.research-current_block {
  margin-bottom: 60px;
}

.research-current_block img {
  float: left;
  max-width: 160px;
}

.research-current_block h4 {
  font-weight: 700;
  margin-bottom: 16px;
  margin-left: 190px;
}

.research-current_block p {
  line-height: 1.8;
  color: #2d2d2d;
  margin-left: 190px;
}

.research-current_block ul {
  margin-left: 190px;
}

.research-list li {
  font-weight: 700;
  line-height: 1.8;
}

.research-current_last {
  margin-bottom: 0;
}

.research-posts .research-news_block {
  border-bottom: 1px solid #efefef;
  padding-bottom: 7px;
  padding-top: 20px;
}

.research-posts .research-news_block:first-child {
  padding-top: 0;
}

.research-posts .research-news_block:last-child {
  border-bottom: 0;
  padding-bottom: 30px;
}

.research-posts .research-news_block span {
  color: #cbb58b;
  font-size: 13px;
  font-weight: 700;
  margin-top: 30px;
}

.research-posts .research-news_block p {
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 767px) {
  .research-current_block img {
    min-width: 100%;
    margin-bottom: 12px;
  }

  .research-current_block h4,
  .research-current_block p,
  .research-current_block ul {
    margin-left: 0;
  }

  .research h3 {
    margin-top: 40px;
  }
}

.research-features img {
  width: 100%;
}

.research-featurestext_block {
  background: #cbb58b;
  max-width: 850px;
  margin: -180px auto 0 auto;
  padding: 50px 77px;
  position: relative;
}

.research-featurestext_block h3 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 0 0 28px;
}

.research-featurestext_block p {
  line-height: 1.8;
  text-align: center;
  color: #eee5d4;
}

.resources {
  padding: 98px 0;
}

.resources-title {
  text-align: center;
  font-weight: 700;
  margin: 0 0 28px;
}

.resources-slider_wrap {
  width: 100%;
}

.research-testi_block img {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.research-testi_block h4 {
  font-weight: 700;
  text-align: center;
  margin: 36px 0;
  margin: 30px 0 16px 0;
}

.research-testi_block p {
  text-align: center;
  line-height: 1.8;
  padding: 0 26px;
}

@media (max-width: 992px) {
  .research-featurestext_block {
    max-width: 700px;
    margin: -125px auto 0 auto;
    padding: 25px 66px;
  }
}

@media (max-width: 768px) {
  .research-featurestext_block {
    max-width: 100%;
    margin: 0px auto 0 auto;
    padding: 24px 48px;
  }

  .research-featurestext_block h3 {
    margin: 0 0 13px;
  }
}

/*
 * BLOG
 ********************************/
/* ==============================================================
   BLOG
   ============================================================== */
.blog-wrap {
  padding: 98px 0;
}

.blog-img_block {
  position: relative;
}

.blog-img_block img {
  padding-left: 40px;
}

.blog-date {
  background: #2d2d2d;
  padding: 12px 16px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-date span {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.blog-tiltle_block {
  padding: 20px 0 0 40px;
}

.blog-tiltle_block h4 {
  font-weight: 700;
}

.blog-tiltle_block h4 a {
  font-size: 20px;
  text-decoration: none;
}

.blog-tiltle_block h6 a {
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.blog-tiltle_block h6 a span {
  padding-left: 5px;
}

.blog-tiltle_block h6 a:first-child {
  padding-left: 0;
}

.blog-tiltle_block p {
  line-height: 1.8;
  padding: 10px 16px 0 0;
}

.blog-tiltle_block a {
  color: #2d2d2d;
  font-size: 13px;
  text-decoration: underline;
  font-weight: 700;
}

.blog-icons {
  border-top: 1px solid #e3eaef;
  border-bottom: 1px solid #e3eaef;
  margin: 20px 0;
  padding: 8px 0;
}

.blog-icons .blog-share_block {
  text-align: right;
  line-height: 1.3;
}

.blog-icons .blog-share_block ul {
  display: inline-block;
  padding: 3px 0 0;
  margin: 0;
}

.blog-icons .blog-share_block ul li {
  list-style: none;
  float: right;
}

.blog-icons .blog-share_block ul li a {
  margin: 0 0 0 25px;
  color: #ccc;
}

.quote-right {
  float: right;
}

.blog-search {
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 15px;
}

.btn-blogsearch {
  padding: 11px 16px;
  border-radius: 2px;
  font-size: 15px;
  outline: none;
}

.blog-category_block {
  padding: 50px 0;
}

.blog-category_block h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.blog-category_block ul {
  margin: 0;
  padding: 0;
}

.blog-category_block ul li {
  list-style: none;
  margin: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-category_block ul li a {
  color: #2d2d2d;
  text-decoration: none;
  padding-bottom: 10px;
  display: block;
}

.blog-category_block ul li a i {
  float: right;
}

.blog-category_block ul li a:hover {
  opacity: 0.8;
}

.blog-category_block ul hr {
  margin: 0;
}

.blog-category_block ul ul {
  background: #f7f7f7;
  padding: 20px;
}

.blog-category_block ul ul li {
  border-bottom-color: #FFF;
}

.blog-featured_post h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.blog-featured_post hr {
  margin: 24px 0;
}

.blog-featured-img_block img {
  float: left;
  margin: 0 25px 0 0;
}

.blog-featured-img_block h5 {
  font-weight: 700;
  font-size: 17px;
  margin-left: 150px;
}

.blog-featured-img_block p {
  font-size: 15px;
  margin-left: 150px;
}

.blog-featured-img_block a {
  color: #292b2c;
}

.blog-tags_wrap {
  margin: 50px 0 0;
}

.blog-tags_wrap h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.blog-tags {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px 29px;
  margin: 0 0 18px 18px;
  color: #313131;
  font-size: 14px;
}

.page-item {
  margin: 0 8px 0 0;
}

.page-link {
  line-height: 1;
  color: #2d2d2d;
  font-size: 14px;
  border-color: #e3eaef;
}

.page-next {
  background: #cbb58b;
  color: #fff;
  border-color: transparent;
}

.page-link:focus,
.page-link:hover {
  background-color: #f4e9d4;
  color: #2d2d2d;
}

@media (max-width: 1200px) {
  .blog-search {
    width: 100%;
  }

  .btn-blogsearch {
    width: 100%;
    margin-top: 8px;
  }

  .blog-featured-img_block img {
    margin: 0 10px 0 0;
  }

  .blog-tags {
    padding: 5px 20px;
  }
}

@media (max-width: 992px) {
  .blog-date span {
    font-size: 15px;
  }

  .pagination {
    margin: 0;
  }

  .blog-tiltle_block,
  .blog-img_block img {
    padding-left: 0;
  }

  .blog-icons {
    margin-top: 12px;
  }

  .blog-featured-img_block img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .blog-featured-img_block p,
  .blog-featured-img_block h5 {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .blog-search {
    margin: 30px 0 0;
  }
}

@media (max-width: 480px) {
  .pagination li {
    display: none;
  }

  .pagination li:first-child,
  .pagination li:last-child {
    display: block;
  }
}

/*
 * BLOG POST
 ********************************/
/* ==============================================================
   BLOG POST
   ============================================================== */
.blogpost-quotes {
  background: #f4eee3;
  display: inline-block;
  padding: 4px 36px;
  margin: 12px 0 0 0;
}

.blogpost-quotes span {
  font-size: 32px;
}

.blogpost-quotes p {
  font-weight: 700;
  font-style: italic;
  padding: 0px 65px;
}

.blogpost_list {
  font-weight: 700;
  border-bottom: 2px solid #cbb58b;
  padding: 0 0 3px;
  line-height: 2.3;
}

.blogpost-tabs {
  margin: 50px 0 0;
}

.blogpost-tab-wrap {
  float: left !important;
  width: 100%;
}

.blogpost-nav-tab {
  border: none !important;
  margin: 0 35px 0 0;
}

.blogpost-nav-tab a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
}

.blodpost-tab-img img {
  padding: 0;
  border-radius: 50%;
}

.blogpost-tab-description h6 {
  font-size: 17px;
  color: #cbb58b;
  margin-bottom: 0;
  margin-top: 10px;
}

.blogpost-tab-description p {
  padding: 10px 0 8px;
  font-size: 16px;
  margin: 0;
}

.blodpost-tab-img {
  margin-top: 10px;
}

p.blogpost-rply {
  color: #6e6e6e;
  padding-top: 0;
}

p.blogpost-rply span {
  margin: 0 10px;
  color: #a9a9a9;
  font-size: 12px;
}

p.blogpost-rply a {
  font-size: 14px;
}

.blogpost-rply-style {
  text-decoration: line-through;
}

@media (max-width: 992px) {
  .blogpost-quotes {
    padding: 4px 6px;
  }
}

@media (max-width: 768px) {
  .blogpost-quotes p {
    padding: 0px 58px;
  }

  .quote-right {
    float: right !important;
  }

  .blogpost-nav-tab {
    margin: 0 25px 0 0;
  }

  .blogpost-nav-tab a {
    font-size: 15px;
    padding: 6px 0;
  }

  .blodpost-tab-img img {
    width: 16% !important;
  }
}

/*
 * EVENTS
 ********************************/
/* ==============================================================
   EVENTS
   ============================================================== */
.events {
  padding: 98px 0;
}

.event-title {
  font-weight: 700;
  margin: 0 0 24px;
}

.event-date {
  background: #242649;
  padding: 20px 5px;
  border-radius: 10px;
  width: 120px;
  height: 130px;
}

.event-date h4 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 0;
}

.event-date span {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  display: block;
}

.event-time {
  background: #4a4e97;
  padding: 8px 0;
  display: block;
  color: #fff;
  text-align: center;
  width: 120px;
  border-radius: 10px;
}

.event-heading {
  margin: 0 0 20px;
}

.event-heading h3 {
  font-weight: 700;
  margin: 0 0 20px;
}

.event-heading p {
  line-height: 1.8;
}

.event-hilights h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 24px;
}

.event-highlight-discription {
  margin: 50px 0 0px;
}

.event-highlight-discription p {
  line-height: 1.8;
  margin: 0 0 50px;
}

.event-toggle {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: underline;
  color: #cbb58b;
  font-weight: 700;
}

.event-toggle:focus {
  color: #cbb58b;
}

.event-toggle:hover {
  color: #b39a6b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.tab-list {
  color: #2d2d2d;
  font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #cbb58b;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #cbb58b;
}

.nav-tabs {
  border: none;
  float: right;
}

.nav-tabs .nav-link {
  border-bottom: 1px solid #eee;
}

.nav-special-br {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #fff #fff #fff;
  color: #cbb58b;
  border-bottom: 2px solid #cbb58b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.event-underline {
  margin: 15px 0 15px 0;
}

@media (max-width: 1200px) {
  .nav-link {
    padding: 8px 12px;
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .event-date {
    padding: 12px 5px;
  }

  .event-date h4 {
    font-size: 36px;
  }

  .event-date span {
    font-size: 15px;
  }

  .event-time {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .nav-tabs {
    float: left;
  }

  .event-time {
    font-size: 12px;
  }

  .event-heading {
    margin: 0 0 30px;
  }

  .event-heading h3 {
    margin: 12px 0;
    font-size: 21px;
  }

  .event-heading p {
    font-size: 15px;
  }

  .tab-content img {
    width: 100%;
    margin: 0 0 12px;
  }

  .event-underline {
    margin: 20px 0 30px 0;
  }

  .event-highlight-discription {
    margin: 12px 0 0px;
  }

  .event-highlight-discription p {
    margin: 0 0 8px;
  }
}

@media (max-width: 320px) {
  .nav-link {
    padding: 4px 7px;
    font-size: 13px;
  }
}

/*
 * CALENDAR
 ********************************/
.fc-view {
  margin-top: 30px;
}

.fc-toolbar {
  margin-bottom: 5px;
  margin-top: 15px;
}

.fc-toolbar h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover {
  z-index: 0;
}

.fc-widget-content,
.fc-widget-header {
  border: 1px solid #d7ecfb;
}

.fc th.fc-widget-header {
  background: #f5f5f5;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px 10px 0px;
  text-transform: uppercase;
}

.fc th.fc-widget-header a {
  color: #505458;
}

.fc .fc-event .fc-bg {
  display: none;
}

.fc .fc-list-item[class*=" bg-"] {
  color: #ffffff;
}

.fc .fc-list-item[class*=" bg-"]:hover td {
  background: rgba(255, 255, 255, 0.2);
}

.fc-button {
  background: #ffffff;
  color: #555;
  text-transform: capitalize;
}

.fc-content {
  color: #FFF;
}

.fc-text-arrow {
  font-size: 16px;
}

.fc-state-hover {
  background: #f3f3f3;
}

.fc-cell-overlay,
.fc-state-highlight {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff;
}

.fc-state-active,
.fc-state-down {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#external-events .fc-event,
.fc .fc-event {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 12px;
  margin: 5px 7px 5px 7px;
  padding: 5px;
  text-align: center;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0px 10px 0px;
  padding: 6px 10px 6px 10px;
}

.fc-basic-view td.fc-day-number,
.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-toolbar .fc-button-group .fc-button {
  background: #ffffff;
}

.fc-toolbar .fc-button-group .fc-button:hover {
  background: #F5F5F5;
}

.fc .fc-event,
.fc .fc-event-dot {
  background: #304ffe;
  -o-transition: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.fc .fc-event-dot {
  background: #ffffff;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  color: #434343;
}

.fc.fc-ltr .fc-h-event.fc-not-start,
.fc.fc-rtl .fc-h-event.fc-not-end {
  margin-left: 7px;
}

@media (max-width: 479px) {
  .fc .fc-toolbar .fc-right {
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }

  .fc .fc-view-container {
    overflow: auto;
  }
}

/*
 * SHORTCODES
 ********************************/
/* ==============================================================
   SHORTCODES
   ============================================================== */
.tabs {
  padding: 98px 0 0;
}

.tabs h3 {
  margin: 0 0 24px;
  font-weight: 700;
}

.shortcode-tab-content {
  border: 1px solid #ccc;
  padding: 24px;
  min-height: 292px;
  line-height: 1.8;
  border-radius: 2px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin: -8px 0 0;
  min-height: 255px;
}

.tabcontent p {
  font-size: 15px;
  padding: 24px 24px;
  line-height: 1.8;
  color: #2d2d2d;
  margin: 0;
}

button.accordion {
  background: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #eee;
  border-bottom: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 17px 30px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
  border-left: 2px solid #cbb58b;
}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

.panel h5 {
  padding: 24px 0 0 30px;
  font-weight: 700;
  font-size: 16px;
}

.panel-last {
  border-bottom: 1px solid #eee;
}

div.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-right: 1px solid #eee;
  border-left: 2px solid #cbb58b;
}

div.panel p {
  font-size: 15px;
  color: #2d2d2d;
  padding: 0px 30px 30px 30px;
  margin: 0;
  line-height: 1.8;
}

.accordian-link {
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.accordian-link:hover,
.accordian-link:focus {
  color: #cbb58b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.accordian-link:active {
  color: #cbb58b;
}

.card-header {
  background: none;
}

.card-block {
  color: #2d2d2d;
  padding: 20px;
  line-height: 1.8;
}

.alert-box {
  padding: 98px 0;
}

.alert-title h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.alert {
  border: none;
  border-radius: none;
  margin-bottom: 24px;
}

.alert p {
  margin: 0;
}

.alert-success {
  padding: 22px 30px;
  border-radius: 0;
  background: #87b08d;
  color: #fff;
}

.alert-success i {
  margin-right: 24px;
  font-size: 24px;
  color: #fff;
}

.alert-info {
  padding: 22px 30px;
  border-radius: 0;
  background: #82abc6;
  color: #fff;
}

.alert-info i {
  margin-right: 24px;
  font-size: 24px;
  color: #fff;
}

.alert-danger {
  padding: 22px 30px;
  border-radius: 0;
  background: #f3897e;
  color: #fff;
}

.alert-danger i {
  margin-right: 24px;
  font-size: 24px;
  color: #fff;
}

.alert-warning {
  padding: 22px 30px;
  border-radius: 0;
  background: #cda371;
  color: #fff;
}

.alert-warning i {
  margin-right: 24px;
  font-size: 24px;
  color: #fff;
}

.typography {
  padding: 0 0 98px;
}

.typography-title {
  font-weight: 700;
  margin: 0 0 24px;
}

.shortcode-list h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.shortcode-list ul {
  margin: 0;
  padding: 0;
}

.shortcode-list ul li {
  background: url(../images/shortcode-list.png) no-repeat;
  list-style: none;
  color: #686868;
  margin: 0 0 14px;
  padding: 0 0 0 38px;
}

.list-general ul {
  margin: 50px 0 0;
  padding: 0;
}

.list-general ul li {
  color: #686868;
  list-style: none;
  margin: 0 0 14px;
}

.list-general ul li span {
  padding: 0 24px 0 0;
}

.shortcode-columns {
  padding: 0 0 98px;
}

.shortcode-columns h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.shortcode-columns h5 {
  font-weight: 700;
  margin: 0 0 12px;
}

.shortcode-columns p {
  color: #686868;
  font-size: 15px;
  line-height: 1.8;
}

.button-toggle {
  padding: 0 0 98px;
}

.button-toggle h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.btn-1 {
  width: 100%;
  border-radius: 0;
}

.btn-2 {
  width: 100%;
  border-radius: 0;
  background: #d19c85;
}

.btn-2:hover {
  background: #cb927a;
}

.btn-3 {
  width: 100%;
  border-radius: 0;
  background: #87b08d;
}

.btn-3:hover {
  background: #7daa83;
}

.btn-warning.active,
.btn-warning:active,
.show>.btn-warning.dropdown-toggle {
  border: none;
  background: #273061;
}

.bnt-border_1 {
  border-bottom: 4px solid #9e8452;
}

.bnt-border_1:hover {
  border-bottom: 4px solid #9e8452;
}

.bnt-border_2 {
  border-bottom: 4px solid #ae7056;
}

.bnt-border_2:hover {
  border-bottom: 4px solid #ae7056;
}

.bnt-border_3 {
  border-bottom: 4px solid #53815a;
}

.bnt-border_3:hover {
  border-bottom: 4px solid #53815a;
}

.btn-simple {
  text-transform: uppercase;
  color: #2d2d2d;
  background: none;
  border: 1px solid #cbb58b;
  font-size: 15px;
  padding: 16px 36px;
  border-radius: 0;
  font-weight: 700;
}

.btn-default-clr1 {
  border: 1px solid #d19c85;
}

.btn-default-clr2 {
  border: 1px solid #87b08d;
}

@media (max-width: 992px) {

  .btn-1,
  .btn-2,
  .btn-3 {
    padding: 17px 6px;
  }
}

@media (max-width: 768px) {

  .btn-1,
  .btn-2,
  .btn-3 {
    margin: 0 0 10px;
  }

  .button-toggle h3 {
    margin: 30px 0 24px;
  }

  .tabs h3 {
    margin: 30px 0 24px;
  }

  .shortcode-list {
    margin: 30px 0 0px;
  }

  .alert-box {
    padding: 34px 0;
  }

  .alert {
    padding: 22px 18px;
  }
}

/*
 * CONTACT US
 ********************************/
/* ==============================================================
   CONTACT US
   ============================================================== */
.contact {
  padding: 98px 0 0;
}

.contact-title h2 {
  font-weight: 700;
  text-align: center;
  margin: 0 0 24px;
}

.contact-form {
  background: #cbb58b;
  position: relative;
  z-index: 2;
}

.contact-form h3 {
  font-weight: 700;
  color: #fff;
  margin: 0 0 24px;
}

.btn-submit {
  border: 3px solid #fff;
  color: #fff;
  padding: 13px 44px;
  font-size: 15px;
  margin: 8px 0 0;
}

.btn-submit:hover {
  border: 3px solid #fff;
  background: #fff;
  color: #cbb58b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contact-option {
  border-right: 1px solid #ad9566;
  padding: 45px 64px;
}

.contact-option .form-control {
  border-color: transparent;
}

.contact-address {
  padding: 45px 50px;
}

.contact-address h3 {
  font-weight: 700;
  margin: 0 0 24px;
}

.contact-details i {
  color: #fff;
  float: left;
}

.contact-details h6 {
  font-size: 19px;
  color: #fff;
  padding: 0 30px 0 30px;
}

.contact-details p {
  color: #fff4e0;
  padding: 0 30px 0 30px;
}

.contact-center {
  background: #ad9566;
  border-radius: 50%;
  text-align: center;
  width: 44px;
  height: 44px;
  padding: 10px 0;
  color: #fff;
  margin: 0 auto;
  top: -17em;
  position: relative;
  z-index: 10;
}

#map {
  height: 620px;
  width: 100%;
  margin: -250px 0 0;
}

@media (max-width: 767px) {
  .contact-option {
    border: 0;
    padding: 20px 15px;
  }

  .contact-option_rsp {
    border-bottom: 1px solid #ad9566;
    padding: 5px 25px 30px;
  }

  .contact-center {
    display: none;
  }
}

/* ==============================================================
   Home 2
   ============================================================== */
.nav-menu2 .navbar-light .navbar-nav .nav-link {
  color: #2d2d2d;
  font-size: 16px;
  line-height: 2;
}

.nav-menu2 .navbar-light .navbar-nav .nav-link:hover {
  color: #cbb58b;
}

.nav-menu2 .navbar-nav>li {
  margin: 0 4px;
}

.about-style2 h2 {
  text-align: left;
}

.about-style2 p {
  text-align: left;
}

.about-style2 img {
  margin: 0;
  border-radius: 50%;
}

.about-style2 .about-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.event-img2 h3 {
  font-weight: 600;
  padding: 0;
  margin-top: -1px;
}

.event-img2 span {
  color: #504f4e;
}

.event-img2 p {
  padding: 10px 0 0;
}

.detailed_chart2 {
  padding: 97px 0;
  background: #504f4e;
}

.faq {
  padding: 97px 0;
}

.login {
  padding: 97px 0;
}

.login .btn {
  width: 100%;
}

.login .modal-content {
  border: 1px solid #ccc;
  padding: 20px;
}

.sign-up {
  padding: 97px 0;
}

.sign-up .form-control {
  margin-bottom: 10px;
}

.sign-up .btn {
  width: 100%;
}

.radio-inline {
  margin-right: 10px;
}

.sign-up-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 3px;
}

.gallery {
  padding: 97px 0;
}

.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}

.filter-button {
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.filter-button:hover,
.filter-button:active {
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  color: #cbb58b;
  background: none !important;
  border: 0 !important;
}

.btn-default:active .filter-button:active {
  color: #cbb58b;
  background: none !important;
  border: 0 !important;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}

.gallery-style {
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.notice {
  padding: 97px 0;
}

.notice-wrap {
  border-bottom: 1px solid #eaeaea;
  padding: 0 0 20px;
  margin: 20px 0;
}

.notice-wrap img {
  margin: 0 0 10px;
}

.notice-wrap h4 {
  font-weight: 600;
}

.notice-wrap span {
  color: #cbb58b;
}

.notice-wrap p {
  margin: 12px 0 0;
  line-height: 1.8;
}

.speech {
  padding: 97px 0;
}

.speech h2 {
  font-weight: 600;
  line-height: 1.3;
  position: relative;
  padding: 0 0 30px;
}

.speech h2:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 52px;
  background: #cbb58b;
  left: 0;
  bottom: 0;
  margin: 7px 0 0;
}

.speech p {
  line-height: 1.8;
  margin: 30px 0 30px;
}

/* ====================================================
 * COMING SOON
 * ==================================================== */
.coming-soon {
  background: url(../images/coming-soon-img.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: table;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.coming-soon-block {
  position: relative;
  top: 50%;
  -webkit-transform: trannslateY(-50%);
  -ms-transform: trannslateY(-50%);
  transform: trannslateY(-50%);
  text-align: center;
}

.coming-soon-block img {
  margin: 0 auto;
  display: block;
}

.coming-soon-block h1 {
  color: #fff;
  padding: 40px 0 10px;
  font-weight: 700;
}

.coming-soon-block p {
  color: #fff;
  font-size: 21px;
}

.coming-soon-block a {
  margin: 20px 0 0;
}

@media (max-width: 380px) {
  .coming-soon-block {
    top: 58%;
  }
}


.player {
  font-size: 1px;
}

.video-title-block {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -42%);
  -ms-transform: translate(-50%, -42%);
  transform: translate(-50%, -42%);
}

@media (max-width: 576px) {
  .video-title-block {
    top: 55%;
    left: 25%;
    -webkit-transform: translate(-17%, -43%);
    -ms-transform: translate(-17%, -43%);
    transform: translate(-17%, -43%);
  }
}

.landing-header {
  padding: 20px 0 98px;
}

.landing-logo {
  margin: 0 auto;
  display: block;
}

.landing-title h2 {
  color: #fff;
  font-weight: 600;
  position: relative;
  padding: 0 0 15px;
}

.landing-title h2:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background: #cbb58b;
  left: 0;
  bottom: 0;
}

.landing-title p {
  color: #d2d1d0;
  line-height: 1.8;
  padding: 15px 0;
  font-weight: 100;
}

.landing-title h4 {
  font-weight: 600;
  margin: 0 0 20px;
  color: #fff;
}

.landing-title ul {
  margin: 0;
  padding: 0;
}

.landing-title ul li {
  list-style: none;
}

.landing-title ul li a {
  line-height: 1.8;
}

.landing-title ul li a:hover {
  color: #e6cfa2;
}

.landing-highlight {
  background: #cbb58b;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.landing-highlight p {
  font-size: 20px;
}

.landing-form-wrap {
  background: #fff;
  padding: 25px;
  border-radius: 3px;
  border: 1px solid #cbb58b;
}

.landing-form-wrap .btn {
  width: 100%;
}

.landing-form {
  padding: 65px 0 0;
}

.landing-testimonial_block {
  position: relative;
  background: #f1f1f1;
  padding: 30px 40px;
  z-index: 1;
}

.landing-testimonial_block i {
  font-size: 70px;
  color: #fff;
  position: absolute;
  z-index: -1;
}

.landing-testimonial_block p {
  font-size: 20px;
  z-index: 2;
  padding: 30px 0px 0 8px;
}

.landing-testimonial_block h6 {
  padding: 0 0 0 8px;
  line-height: 1.5;
}

.teachers-single {
  padding: 98px 0;
}

.teachers-img_block {
  width: 80%;
  -webkit-box-shadow: 0px 14px 28px -9px #cccccc;
  box-shadow: 0px 14px 28px -9px #cccccc;
}

.teachers-img_block img {
  width: 100%;
}

.teachers-title_block {
  text-align: center;
  display: block;
}

.teachers-title_block h4 {
  margin: 10px 0 6px;
}

.teachers-title_block h6 {
  margin: 0 0 5px;
}

.teachers-title_block ul {
  margin: 0 auto;
  display: inline-block;
  padding: 0;
}

.teachers-title_block ul li {
  list-style: none;
  float: left;
  margin: 0 6px 0 0;
}

.teacher-profile_block h4 {
  font-weight: 600;
  position: relative;
  padding: 0 0 12px;
  margin: 0 0 20px;
}

.teacher-profile_block h4:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #cbb58b;
  width: 30px;
  bottom: 0;
  left: 0;
}

.teacher-profile_block h3 {
  font-weight: 600;
}

.teacher-profile_block span {
  font-weight: 600;
}

.teacher-profile_block p {
  padding: 12px 0 12px;
  line-height: 1.8;
  margin: 0;
}

.teacher-profile_block .time {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.teacher-profile_block ul {
  padding: 0;
  margin: 10px 0 0;
}

.teacher-profile_block ul li {
  line-height: 2;
  list-style: none;
}

.teacher-profile_block ul li span {
  padding: 0 8px 0 0;
}

.teacher-profile_block ul li a {
  float: left;
  padding: 10px 0;
  margin: 0 8px 0 0;
}

.teacher-profile_block ul li a i {
  color: #fff;
}

.qualification_detaile {
  margin: 0;
}

.experiance {
  text-align: right;
}

@media (max-width: 768px) {
  .experiance {
    text-align: left;
  }
}

.pricing {
  padding: 98px 0;
  background: #f3f3f3;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.03);
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.bg-gold {
  background-color: #cbb58b !important;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.price .button {
  background-color: #cbb58b;
  border: none;
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.call-to_action {
  padding: 30px 0;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
  top: 0;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  margin: 0;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none !important;
}

.mega-dropdown-menu>li>ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu>li {
  margin: 0;
  display: inline-block;
  width: 24%;
}

@media (max-width: 1200px) {
  .mega-dropdown-menu>li {
    vertical-align: top;
  }
}

@media (max-width: 992px) {
  .mega-dropdown-menu>li {
    text-align: left;
    width: 100%;
    margin: 0 0 8px;
  }
}

@media (max-width: 768px) {
  .mega-dropdown-menu>li {
    width: 100%;
  }
}

.mega-dropdown-menu>li>ul>li {
  list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
  display: block;
  padding: 0;
  clear: both;
  font-weight: normal;
  line-height: 1.8;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
  text-decoration: none;
  color: #444;
}

.mega-dropdown-menu .dropdown-header {
  color: #cbb58b;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.dropdown-header {
  padding: 0;
}

.dropdown-item.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.6em;
  vertical-align: middle;
  content: "";
  border-left: .3em solid;
  border-top: .3em solid transparent;
  border-bottom: .3em solid transparent;
}

.header-topbar {
  padding: 10px;
  background: #161616;
}

.header-top_address {
  color: #d8d8d8;
  font-size: 15px;
}

.header-top_address .header-top_list {
  display: inline-block;
  margin-right: 22px;
}

@media (max-width: 768px) {
  .header-top_address .header-top_list:last-child {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-top_address .header-top_list:nth-child(2) {
    display: none;
  }
}

.header-top_address .header-top_list span {
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header-top_address {
    display: inline-block;
  }
}

.header-top_login,
.header-top_login2 {
  float: right;
  color: #fff;


}

.header-top_login a,
.header-top_login2 a {
  color: #fff;
  margin-right: 20px;
}

.header-top_login a:hover,
.header-top_login a:focus,
.header-top_login2 a:hover,
.header-top_login2 a:focus {
  color: #1410fd;
}

@media (max-width: 574px) {
  .header-top_login {
    display: none;
  }
}

@media (min-width: 574px) {
  .header-top_login2 {
    display: none;
  }
}

/* NAVBAR STYLE TWO */
.navbar2 {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #fff;
}

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* fixed to top styles */
.affix {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 1px;
}

.dropdown-submenu>a:after {
  display: block;
  content: "";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media (min-width: 991px) {
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

/*# sourceMappingURL=style.css.map */