/* Master Stylesheet */


/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #f2f4f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  line-height: 1.3;
  font-weight: 500;
}

p {
  font-family: "Poppins", sans-serif;
  color: #777777;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}


ul,
ol {
  margin: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* :: 3.1.0 Spacing */
.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.pt-30 {
  padding-top: 30px;
}

/* :: 3.2.0 Height */
.height-400 {
  height: 400px !important;
}

.height-500 {
  height: 500px !important;
}

.height-600 {
  height: 600px !important;
}

.height-700 {
  height: 700px !important;
}

.height-800 {
  height: 800px !important;
}

/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0;
}

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

/* :: 3.4.0 Preloader */
.preloader {
  background-color: blue;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
}

.spinner .double-bounce1,
.spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.spinner .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* :: 3.5.0 Miscellaneous */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  background-color: #f2f4f5;
  padding: 10px 25px;
  border-left: 4px solid blue;
}

.section-heading h5 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .section-heading h5 {
    font-size: 16px;
  }
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-dark {
  background-color: #000000 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-gray {
  background-color: #f2f4f5;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;
}

.bg-overlay::after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.bg-fixed {
  background-attachment: fixed !important;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.box-shadow {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
}

/* :: 3.6.0 ScrollUp */
#scrollUp {
  background-color: #000000;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  line-height: 42px;
  right: 50px;
  text-align: center;
  width: 40px;
  border-radius: 0%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

#scrollUp:hover,
#scrollUp:focus {
  background-color: blue;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  #scrollUp {
    bottom: 30px;
    right: 30px;
    line-height: 32px;
    width: 30px;
    height: 30px;
  }
}

/* :: 3.7.0 mag Button */
.mag-btn {
  background-color: blue;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-transform: capitalize;
}

.mag-btn:hover,
.mag-btn:focus {
  font-size: 16px;
  font-weight: 500;
  background-color: #000000;
  color: #ffffff;
}

/* :: 4.0 Header Area CSS */
.header-area {
  position: relative;
  z-index: 1000;
  width: 100%;
}

.header-area .mag-main-menu {
  position: relative;
  width: 100%;
  height: 70px;
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu {
    height: 60px;
  }
}

.header-area .mag-main-menu .classy-navbar {
  padding: 0;
  padding-left: 115px;

}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .classy-navbar {
    padding-left: 15px;
    height: 60px;
  }
}

.header-area .mag-main-menu .classy-navbar .classynav ul li a {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .mag-main-menu .classy-navbar .classynav ul li a {
    padding: 0 5px;
  }
}

.header-area .mag-main-menu .classy-navbar .classynav ul li a:hover,
.header-area .mag-main-menu .classy-navbar .classynav ul li a:focus {
  color: blue;
}

.header-area .mag-main-menu .classy-navbar .classynav ul li ul li a {
  text-transform: capitalize;
  letter-spacing: 0;
  padding: 0 20px;
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .classy-navbar .nav-brand {
    margin-right: 15px;
    max-width: 60px;
  }
}

.header-area .mag-main-menu .top-search-area {
  position: relative;
  z-index: 1;
  margin-left: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .mag-main-menu .top-search-area {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .mag-main-menu .top-search-area {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .top-search-area {
    margin-left: 15px;
  }
}

.header-area .mag-main-menu .top-search-area form {
  position: relative;
  z-index: 1;
  border-left: 1px solid #ebebeb;
}

.header-area .mag-main-menu .top-search-area form input {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 270px;
  height: 70px;
  border: none;
  color: #777777;
  font-size: 14px;
  font-style: italic;
  padding: 0 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .mag-main-menu .top-search-area form input {
    padding: 0 15px;
    width: 200px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .mag-main-menu .top-search-area form input {
    width: 230px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .top-search-area form input {
    padding: 0 15px;
    width: 110px;
    font-size: 11px;
    height: 60px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-area .mag-main-menu .top-search-area form input {
    width: 180px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .mag-main-menu .top-search-area form input {
    width: 200px;
  }
}

.header-area .mag-main-menu .top-search-area form input:focus {
  box-shadow: none;
}

.header-area .mag-main-menu .top-search-area form button {
  position: absolute;
  width: auto;
  height: 70px;
  background-color: transparent;
  top: 50%;
  right: 30px;
  font-size: 16px;
  z-index: 99;
  border: none;
  cursor: pointer;
  color: #1a1a1a;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .mag-main-menu .top-search-area form button {
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .mag-main-menu .top-search-area form button {
    right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .top-search-area form button {
    right: 0;
  }
}

.header-area .mag-main-menu .top-search-area form button:focus {
  box-shadow: none;
}

.header-area .mag-main-menu .top-search-area form button:hover {
  color: blue;
}

.header-area .mag-main-menu .login-btn {
  position: relative;
  z-index: 1;
  padding: 0 30px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  border-left: 1px solid #ebebeb;
  text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .mag-main-menu .login-btn {
    padding: 0 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .mag-main-menu .login-btn {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .login-btn {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-area .mag-main-menu .login-btn {
    padding: 0 20px;
  }
}

.header-area .mag-main-menu .login-btn:hover,
.header-area .mag-main-menu .login-btn:focus {
  color: blue;
}

.header-area .mag-main-menu .submit-video {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  height: 70px;
  background-color: blue;
  line-height: 70px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .mag-main-menu .submit-video {
    padding: 0 10px;
    width: 130px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .mag-main-menu .submit-video {
    padding: 0 10px;
    width: 130px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .submit-video {
    padding: 0 15px;
    width: 40px;
    height: 60px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-area .mag-main-menu .submit-video {
    padding: 0 20px;
    width: 50px;
  }
}

.header-area .mag-main-menu .submit-video:hover,
.header-area .mag-main-menu .submit-video:focus {
  background-color: #404040;
}

.header-area .mag-main-menu .submit-video span {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .submit-video span {
    font-size: 14px;
    display: block;
  }
}

.header-area .mag-main-menu .submit-video .video-text {
  display: block;
}

@media only screen and (max-width: 767px) {
  .header-area .mag-main-menu .submit-video .video-text {
    display: none;
  }
}

.header-area .is-sticky .mag-main-menu {
  z-index: 9999;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
}

/* :: 7.0 Footer Area CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #111111;
  padding-top: 80px;
}

.footer-area .footer-widget {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

.footer-area .footer-widget .widget-title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border-left: 3px solid blue;
  padding-left: 10px;
}

.footer-area .footer-widget .foo-logo {
  display: block;
  margin-bottom: 15px;
}

.footer-area .footer-widget p {
  margin-bottom: 30px;
  display: block;
}

.footer-area .footer-widget .footer-social-info a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: blue;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  line-height: 40px;
  margin-right: 3px;
  border-radius: 50%;
}

.footer-area .footer-widget .footer-social-info a:hover,
.footer-area .footer-widget .footer-social-info a:focus {
  background-color: blue;
}

.footer-area .footer-widget .footer-social-info a.facebook {
  background-color: #4b6cd0;
}

.footer-area .footer-widget .footer-social-info a.google-plus {
  background-color: #f03b3b;
}

.footer-area .footer-widget .footer-social-info a.instagram {
  background-color: #bb8950;
}

.footer-area .footer-widget .footer-social-info a.twitter {
  background-color: #49a7f3;
}

.footer-area .footer-widget .footer-social-info a.linkedin {
  background-color: #30bad7;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-widget .footer-social-info a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-widget .footer-social-info a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-area .footer-widget .footer-social-info a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
  }
}

.footer-area .footer-widget .footer-widget-nav {
  position: relative;
  z-index: 1;
}

.footer-area .footer-widget .footer-widget-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-area .footer-widget .footer-widget-nav ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}

.footer-area .footer-widget .footer-widget-nav ul li a {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-area .footer-widget .footer-widget-nav ul li a i {
  color: #777777;
  margin-right: 5px;
}

.footer-area .footer-widget .footer-widget-nav ul li a:hover,
.footer-area .footer-widget .footer-widget-nav ul li a:focus {
  color: blue;
}

.footer-area .footer-widget .footer-tags {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-left: -5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-widget .footer-tags {
    margin-top: -2px;
    margin-left: -2px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer-widget .footer-tags {
    margin-top: -2px;
    margin-left: -2px;
  }
}

.footer-area .footer-widget .footer-tags li a {
  height: 30px;
  border-radius: 2px;
  background-color: #272727;
  color: #777777;
  text-transform: uppercase;
  padding: 0 10px;
  display: inline-block;
  line-height: 30px;
  margin: 5px;
  font-size: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-widget .footer-tags li a {
    margin: 2px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer-widget .footer-tags li a {
    margin: 2px;
  }
}

.footer-area .footer-widget .footer-tags li a:hover,
.footer-area .footer-widget .footer-tags li a:focus {
  background-color: blue;
  color: #ffffff;
}

.footer-area .copywrite-area {
  position: relative;
  z-index: 1;
  padding: 10px 0;
  background-color: #0a0a0a;
}

.footer-area .copywrite-area .copywrite-text {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
  color: #777777;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .copywrite-area .copywrite-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-area .copywrite-area .copywrite-text {
    font-size: 12px;
  }
}

.footer-area .copywrite-area .copywrite-text a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .copywrite-area .copywrite-text a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-area .copywrite-area .copywrite-text a {
    font-size: 12px;
  }
}

.footer-area .copywrite-area .copywrite-text a:hover,
.footer-area .copywrite-area .copywrite-text a:focus {
  color: blue;
}

.footer-area .copywrite-area .footer-nav {
  position: relative;
  z-index: 1;
}

.footer-area .copywrite-area .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .footer-area .copywrite-area .footer-nav ul {
    margin-top: 5px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.footer-area .copywrite-area .footer-nav ul li a {
  display: inline-block;
  color: #777777;
  font-size: 14px;
  padding: 0 15px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .copywrite-area .footer-nav ul li a {
    font-size: 12px;
    padding: 0 8px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-area .copywrite-area .footer-nav ul li a {
    font-size: 12px;
    padding: 0 8px;
  }
}

.footer-area .copywrite-area .footer-nav ul li a:hover,
.footer-area .copywrite-area .footer-nav ul li a:focus {
  font-weight: 400;
  color: blue;
}

.footer-area .copywrite-area .footer-nav ul li:last-child a {
  padding-right: 0;
}

/* ====== The End ====== */

/*# sourceMappingURL=style.css.map */